<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body ng-controller="sessionReviewCtrl">
    <kendo-grid options="mainGridOptions">
        <div k-detail-template>
            <kendo-tabstrip>
                    <ul>
                        <li class="k-state-active">Sections</li>
                    </ul>
                    <div>
                        <div kendo-grid k-options="sectionGridOptions(dataItem)"></div>
                    </div>
            <kendo-tabstrip>
        </div>
    </kendo-grid>
</body>
</html>
