<!DOCTYPE html>
<html>
<head>
    <title>Review Submissions</title>
	<meta charset="utf-8" />
    <style>
        .activeRow {
            color: red;
            font-weight: bold;
            background-color: yellow;
        }
        .inactiveRow {
            color: darkgray;
            font-weight: normal;
            background-color: white;
        }
    </style>
</head>
<body ng-controller="sessionReviewCtrl" >
    {{ secID }}
    <div class="row" ng-init="secID = 0" style="color: #990000">
        <div class="col-md-1 k-header">
            <h4>Semester</h4>
        </div>
        <div class="col-md-1 k-header">
            <h4>Session</h4>
        </div>
        <div class="col-md-2 k-header">
            <h4>Session Name</h4>
        </div>
        <div class="col-md-2 k-header">
            <h4>School</h4>
        </div>
        <div class="col-md-2 k-header">
            <h4>Department</h4>
        </div>
        <div class="col-md-2 k-header">
            <h4>Requested Date</h4>
        </div>
        <div class="col-md-2 k-header">
            <h4>&nbsp;</h4>
        </div>
    </div>
    <div class="row" ng-repeat="eachSession in sessions">
        <br/>
        <a href="javascript:;" ng-click="ShowSections(eachSession.sessionCode);" class="ng-class: session == eachSession.sessionCode ? 'activeRow' : 'inactiveRow'">
            <div class="col-md-1">
                {{ eachSession.acadTerm }}
            </div>
            <div class="col-md-1">
                {{ eachSession.sessionCode }}
            </div>
            <div class="col-md-2">
                {{ eachSession.sessionName }}
            </div>
            <div class="col-md-2">
                {{ eachSession.owningSchool }}
            </div>
            <div class="col-md-2">
                {{ eachSession.owningDept }}
            </div>
            <div class="col-md-2">
                {{ eachSession.requestDate }}
            </div>
        </a>
        <div class="col-md-2" ng-show="session == eachSession.sessionCode">
            <button>Approve</button><button>Reject</button>
        </div>
        <div class="row" ng-show="session == eachSession.sessionCode" style="color:black;padding-top:35px;">
            <div class="col-md-1">
                &nbsp;
            </div>
            <div class="col-md-3">
                <div class="col-sm-3">
                    <b class="red">Contact:</b>
                </div>
                <div class="col-sm-6">
                    {{ eachSession.userContact }}
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-sm-3">
                    <b class="red">Email:</b>
                </div>
                <div class="col-sm-6">
                    {{ eachSession.userEmail }}
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-sm-3">
                    <b class="red">Phone:</b>
                </div>
                <div class="col-sm-7">
                    {{ eachSession.userPhone }}
                </div>
            </div>
        </div>
        <div class="row" ng-show="session == eachSession.sessionCode" style="color:black;padding-top:10px;">
            <div class="col-md-1">
                <div class="col-sm-12">
                    &nbsp;
                </div>
                <div class="col-sm-12">
                    <b class="red pull-right">Start</b>
                </div>
                <div class="col-sm-12">
                    <b class="red pull-right">End</b>
                </div>
            </div>
            <div class="col-md-2">
                <div class="col-sm-12">
                    <b class="red">Classes</b>
                </div>
                <div class="col-sm-12 borders">
                    {{ eachSession.dateClassFirstDay }}&nbsp;
                </div>
                <div class="col-sm-12 borders">
                    {{ eachSession.dateClassLastDay }}&nbsp;
                </div>
            </div>
            <div class="col-md-2">
                <div class="col-sm-12">
                    <b class="red">1st Session Break</b>
                </div>
                <div class="col-sm-12 borders">
                    {{ eachSession.dateSessBreakStart1 }}&nbsp;
                </div>
                <div class="col-sm-12 borders">
                    {{ eachSession.dateSessBreakEnd1 }}&nbsp;
                </div>
            </div>
            <div class="col-md-2">
                <div class="col-sm-12">
                    <b class="red">2nd Session Break</b>
                </div>
                <div class="col-sm-12 borders">
                    {{ eachSession.dateSessBreakStart2 }}&nbsp;
                </div>
                <div class="col-sm-12 borders">
                    {{ eachSession.dateSessBreakEnd2 }}&nbsp;
                </div>
            </div>
            <div class="col-md-2">
                <div class="col-sm-12">
                    <b class="red">Finals</b>
                </div>
                <div class="col-sm-12 borders">
                    {{ eachSession.dateFinalsFirstDay }}&nbsp;
                </div>
                <div class="col-sm-12 borders">
                    {{ eachSession.dateFinalsLastDay }}&nbsp;
                </div>
            </div>
            <div class="col-md-2">
                <div class="col-sm-12">
                    <b class="red">Final Grades</b>
                </div>
                <div class="col-sm-12 borders">
                    {{ eachSession.dateFinalGradeFirstDay }}
                </div>
                <div class="col-sm-12 borders">
                    {{ eachSession.dateFinalGradeLastDay }}
                </div>
            </div>
        </div>
        <div class="row" ng-show="session == eachSession.sessionCode" style="color:black;padding-top:10px;">
            <div class="col-md-1">
                &nbsp;
            </div>
            <div class="col-md-3">
                <b class="red">Last Day Add/Drop:</b>&nbsp;&nbsp;{{ eachSession.dateAddDropLastDay }}
            </div>
            <div class="col-md-3">
                <b class="red">Last day Withdraw:</b>&nbsp;&nbsp;{{ eachSession.dateWithdrawLastDay }}
            </div>
            <div class="col-md-4">
                <b class="red">Last day for Enrollment Change:</b>&nbsp;&nbsp;{{ eachSession.dateGradeChangeLastDay }}
            </div>
        </div>
        <div class="row" ng-show="session == eachSession.sessionCode" style="color:black;padding-top:10px;">
            <div class="col-md-1">
                &nbsp;
            </div>
            <div class="col-md-3">
                <b class="red">Classes held on campus?</b>&nbsp;&nbsp;{{ eachSession.isClassHeldAtUPC }}
            </div>
            <div class="col-md-3">
                <b class="red">Campus Location</b>&nbsp;&nbsp;{{ eachSession.upcCampusLoc }}
            </div>
            <div class="col-md-4">
                <b class="red">Other Campus:</b>&nbsp;&nbsp;{{ eachSession.otherCampusLoc }}
            </div>
        </div>
        <br>
        <table class="table table-bordered table-hover" ng-show="session == eachSession.sessionCode" style="width:70%;" align="center">
            <thead>
            <tr class="red">
                <th>Rate Type</th>
                <th>Rate per Unit</th>
                <th>Flat Rate</th>
                <th>Flat Rate<br>Min. Units</th>
                <th>Flat Rate<br>Max. Units</th>
            </tr>
            </thead>
            <tbody>
            <tr class="black">
                <td>{{ eachSession.rateType }}</td>
                <td>{{ eachSession.ratePerUnit }}</td>
                <td>{{ eachSession.rateFlatAmount }}</td>
                <td>{{ eachSession.rateFlatRangeMin }}</td>
                <td>{{ eachSession.rateFlatRangeMax }}</td>
            </tr>
            <tbody>
        </table>
        <div class="col-md-12" ng-show="session == eachSession.sessionCode" ng-repeat="eachSection in eachSession.sections">
            <a href="javascript:;" title="Click to view the Class Schedule" ng-click="showSchedule(eachSection.sectionID);">
                <div class="col-md-2">
                    {{ eachSection.sectionNumber }}
                </div>
                <div class="col-md-2">
                    {{ eachSection.unitValue }}
                </div>
                <div class="col-md-2">
                    {{ eachSection.sectionTitle }}
                </div>
                <div class="col-md-2">
                    {{ eachSection.instructorName }}
                </div>
            </a>
            <div class="col-md-12" ng-show="secID == eachSection.sectionID" ng-repeat="eachSched in eachSection.classSchedule">
                <div class="col-md-2">
                    {{ eachSched.classDay }}
                </div>
                <div class="col-md-2">
                    {{ eachSched.classStartTime }}
                </div>
                <div class="col-md-2">
                    {{ eachSched.classEndTime }}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
