
<form id="sessionRequestForm" name="sessionRequestForm" class="form-horizontal" novalidate ng-submit="submit()">

    <div class="row">
        
        <!-- 1st Column -->
        <div class="col-md-4" id="firstColumn">
            <div class="form-group" ng-class="{'has-error': sessionRequestForm.semester.$invalid && sessionRequestForm.$submitted}">
                <label for="semester" class="col-md-4 control-label">
                    <abbr title="Session semester being applied for">For Semester:</abbr>
                </label>
                <div class="col-md-8">
                    <select class="form-control" id="semester" name="semester" required ng-model="session.academicTerm" ng-change="SetRates();">
                        <option ng-repeat="eachSem in semesters" value="{{ eachSem.semCode }}">{{ eachSem.semName }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': sessionRequestForm.classesStartDate.$invalid && sessionRequestForm.$submitted}">
                <label for="classesStartDate" class="col-md-4 control-label">
                    <abbr title="Session Start Date">First day<br>of Classes:</abbr>
                </label>
                <div class="col-md-8">
                    <input kendo-date-picker class="form-control" id="classStartDate" name="classStartDate" 
                           ng-change="ClassDatesChanged();" maxlength="10" required ng-model="session.firstDayOfClass" />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': sessionRequestForm.classesEndDate.$invalid && sessionRequestForm.$submitted}">
                <label for="classesEndDate" class="col-md-4 control-label">
                    <abbr title="Session End Date">Last day<br>of Classes:</abbr>
                </label>
                <div class="col-md-8">
                    <input kendo-date-picker class="form-control" id="classEndDate" name="classEndDate" 
                           ng-change="ClassDatesChanged();" maxlength="10" required ng-model="session.lastDayOfClass" />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': sessionRequestForm.isClassHeldAtUPC.$invalid && sessionRequestForm.$submitted}">
                <label for="isClassAtUPC" class="col-md-4 control-label">
                    <abbr title="Is the venue of the class going to be within the University Park Campus?">Class held at UPC?</abbr>
                </label>
                <div class="col-md-8">
                    <label class="radio-inline">
                        <input type="radio" name="isClassAtUPC" value="Y" ng-model="isClassHeldAtUPC" />Yes
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="isClassAtUPC" value="N" ng-model="isClassHeldAtUPC" />No
                    </label>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': sessionRequestForm.rateType.$invalid && sessionRequestForm.$submitted}">
                <label for="rateType" class="col-md-4 control-label">
                    <abbr title="Indicate the appropriate tuition rate type for this Session">Tuition Rate Type:</abbr>
                </label>
                <div class="col-md-8">
                    <select class="form-control" id="rateType" name="rateType" ng-model="session.rateType" ng-change="SetRates();">
                        <option ng-repeat="eachRate in rateTypes" value="{{ eachRate.rateCode }}">{{ eachRate.rateName }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    &nbsp;
                </div>
                <div class="col-md-8" style="align-content:center;">
                    <abbr title="A break of at least five consecutive days during the semester or session when the student is not scheduled to attend a course OR have contact with the course instructor. Two examples of session breaks are the university's Thanksgiving break, which is a five day instructional gap (Wed, Thurs, Friday, Sat, and Sun) and Spring Break, which is a nine day gap in instruction (Sa, Su, Mo, Tu, We, Th, Fr, Sa, Su).">
                        <kendo-button id="addSessionBreaks" name="addSessionBreaks" class="form-control uscRedButton" ng-model="session.addSessionBreaks" ng-click="AddSemesterBreaks();">
                            Add a Session Break
                        </kendo-button>
                    </abbr>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    &nbsp;
                </div>
                <div class="col-md-8">
                    <abbr title="Click the Add a Section button if you want to provide a list of the sections that will be scheduled in the session you are requesting.">
                        <kendo-button id="addSections" name="addSections" class="form-control uscRedButton" ng-click="AddSection();">
                            Add a Section
                        </kendo-button>
                    </abbr>
                </div>
            </div>
        </div>
        <!-- End of 1st Column -->

        <!--  2nd Column-->
        <div class="col-md-4" id="secondColumn">
            <div class="form-group" ng-class="{'has-error': sessionRequestForm.sessionCode.$invalid && sessionRequestForm.$submitted}">
                <label for="sessionCode" class="col-md-4 control-label">
                    <abbr title="Enter the 3-digit code that was used for this session previously. If you do not know the Session Code assigned to this academic program, or if the special program is new, please leave this field blank">
                        Session Code:
                    </abbr>
                </label>
                <div class="col-md-8">
                    <input kendo-auto-complete="sessCode" class="form-control" id="sessionCode" name="sessionCode" maxlength="4" required 
                           k-ng-model="session.sessionCode" k-data-source="sessionCodes" />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': sessionRequestForm.finalsStartDate.$invalid && sessionRequestForm.$submitted}">
                <label for="finalsStartDate" class="col-md-4 control-label">
                    <abbr title="If the session will have a finals period, enter the first day of finals. If there will be no final exams in this session, enter the same date date as in the Last day of classes. Please note that sessions that follow the dates shown on the USC academic calendar page (http://academics.usc.edu) must use the final dates listed on the website.">
                        First day of Finals:
                    </abbr>
                </label>
                <div class="col-md-8">
                    <input kendo-date-picker class="form-control" id="finalsStartDate" name="finalsStartDate" maxlength="10" 
                           ng-change="FinalsDatesChanged();" required ng-model="session.firstDayOfFinals" />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': sessionRequestForm.finalsEndDate.$invalid && sessionRequestForm.$submitted}">
                <label for="finalsEndDate" class="col-md-4 control-label">
                    <abbr title="If the session will have a finals period, enter the last day of finals. If there will be no final exams in this session, enter the same date date as in the Last day of classes. Please note that sessions that follow the dates shown on the USC academic calendar page (http://academics.usc.edu) must use the final dates listed on the website">
                        Last day of Finals:
                    </abbr>
                </label>
                <div class="col-md-8">
                    <input kendo-date-picker class="form-control" id="finalsEndDate" name="finalsEndDate" maxlength="10" 
                           ng-change="FinalsDatesChanged();" required ng-model="session.lastDayOfFinals" />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': sessionRequestForm.offCampusLocation.$invalid && sessionRequestForm.$submitted}">
                <label for="offCampusLocation" class="col-md-4 control-label">
                    <abbr title="USC Campus outside of UPC where class will be held">Off-campus Location:</abbr>
                </label>
                <div class="col-md-8">
                    <select class="form-control" id="offCampusLocation" name="offCampusLocation" ng-disabled="(isClassHeldAtUPC != 'N')" ng-model="session.uscCampusLocation">
                        <option ng-repeat="eachCampus in campusLocs" value="{{ eachCampus.campusCode }}">{{ eachCampus.campusName }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': sessionRequestForm.tuitionUnitRate.$invalid && sessionRequestForm.$submitted}">
                <label for="tuitionUnitRate" class="col-md-4 control-label">
                    <abbr title="Tuition per unit rate in dollars">Tuition <br/> per Unit:</abbr>
                </label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="tuitionUnitRate" name="tuitionUnitRate" readonly ng-model="session.ratePerUnitAmount" />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': sessionRequestForm.sessionComment.$invalid && sessionRequestForm.$submitted}">
                <label for="sessionComment" class="col-md-4 control-label">
                    <abbr title="In this space, enter up to a 60-character comment specific to the Session.">
                        Session Comment
                    </abbr>:
                </label>
                <div class="col-md-8">
                    <textarea type="text" class="form-control" id="sessionComment" name="sessionComment" maxlength="60" ng-model="session.comments" />
                </div>
            </div>
        </div>
        <!-- End of 2nd Column -->

        <!-- 3rd Column -->
        <div class="col-md-4" id="thirdColumn">
            <div class="form-group" ng-class="{'has-error': sessionRequestForm.lastDayAddDrop.$invalid && sessionRequestForm.$submitted}">
                <label for="lastDayAddDrop" class="col-md-6 control-label">
                    <abbr title="Last day to Add or Drop classes">Last day to <br/> Add/Drop:</abbr>
                </label>
                <div class="col-md-6">
                    <input type="text" class="form-control disabled" id="lastDayAddDrop" name="lastDayAddDrop" maxlength="10" readonly ng-model="session.lastDayForAddDrop" />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': sessionRequestForm.lastDayEnrollOptionChange.$invalid && sessionRequestForm.$submitted}">
                <label for="lastDayEnrollChange" class="col-md-6 control-label">
                    <abbr title="Last day to change Enrollment Option from 'PN' to 'L'">Last day for<br/>Enrollment Change:</abbr>
                </label>
                <div class="col-md-6">
                    <input type="text" class="form-control disabled" id="lastDayEnrollChange" name="lastDayEnrollChange" maxlength="10" readonly ng-model="session.lastDayForEnrollmentOptionChange" />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': sessionRequestForm.lastDayWithdraw.$invalid && sessionRequestForm.$submitted}">
                <label for="lastDayWithdraw" class="col-md-6 control-label">
                    <abbr title="Last day to Withdraw classes">Last day <br> to Withdraw:</abbr>
                </label>
                <div class="col-md-6">
                    <input type="text" class="form-control disabled" id="lastDayWithdraw" name="lastDayWithdraw" maxlength="20" readonly ng-model="session.lastDayForWithdrawal" />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': sessionRequestForm.otherCampusLocation.$invalid && sessionRequestForm.$submitted}">
                <label for="otherCampusLocation" class="col-md-6 control-label">
                    <abbr title="Indicate a campus other than the ones listed in the dropdown">Other campus<br/>location:</abbr>
                </label>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="otherCampusLocation" name="otherCampusLocation" maxlength="20" ng-disabled="(session.uscCampusLocation != 'OTH')" ng-model="session.otherCampusLocation" />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': sessionRequestForm.tuitionFlatRate.$invalid && sessionRequestForm.$submitted}">
                <label for="tuitionFlatRate" class="col-md-6 control-label">
                    <abbr title="Tuition flat rate in dollars">Tuition <br /> Flat Rate:</abbr>
                </label>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="tuitionFlatRate" name="tuitionFlatRate" readonly ng-model="session.flatRateAmount" />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': sessionRequestForm.flatUnitsMax.$invalid && sessionRequestForm.$submitted}">
                <label for="flatUnitsMin" class="col-md-6 control-label">
                    <abbr title="Tuition flat rate in dollars">Flat Rate Range:(units)</abbr>
                </label>
                <div class="col-md-6" style="align-items:center;">
                    <input id="flatUnitsMin" name="flatUnitsMin" type="number" value="1" min="1" max="18" 
                           ng-model="session.flatRateUnitsMin" class="form-control" style="width:60px;display:inline;" />
                    &nbsp;&nbsp;to&nbsp;&nbsp;
                    <input id="flatUnitsMax" name="flatUnitsMax" type="number" value="2" min="2" max="30" 
                           ng-model="session.flatRateUnitsMax" class="form-control" style="width:60px;display:inline;" />
                </div>
            </div>
        </div>
        <!-- End of 3rd Column -->
    </div> <!-- class="row" -->

    <!--  Session Breaks section -->
    <div ng-show="session.sessionBreaks.length" style="background-color:rgba(153,0,0,.7);padding-bottom:15px;color:#ffcc00;">

        <div class="row" sstyle="align-self:center;color:#ffcc00;">
            <div class="col-md-1">
            </div>
            <div class="col-md-4" style="text-align:center;">
                <h4>Break Start</h4>
            </div>
            <div class="col-md-4" style="text-align:center;">
                <h4>Break End</h4>
            </div>
            <div class="col-md-3">
                &nbsp;
            </div>
        </div>

        <div class="row" style="align-items:center;padding-bottom:5px;" ng-show="session.sessionBreaks" ng-repeat="eachBreak in session.sessionBreaks">
            <div class="col-md-1"  style="text-align:right;">
            </div>
            <div class="col-md-4" style="align-self:center;">
                <input kendo-date-picker class="form-control" ng-model="eachBreak.startDate"/>
            </div>
            <div class="col-md-4" style="align-self:center;">
                <input kendo-date-picker class="form-control"  ng-model="eachBreak.endDate"/>
            </div>
            <div class="col-md-3" style="align-self:center;">
                <a href="javascript:;" class="uscRedButton" title="Delete this Semester Break" ng-click="session.sessionBreaks.splice($index,1);">
                    [X] Remove this Break
                </a>
            </div>
        </div>
    </div>
    <!-- End of Session Breaks Section -->

    <br/>

    <!--  Start of Section section -->

    <div ng-show="session.sections.length" style="background-color:#ffcc00;padding-top:5px;padding-right:10px;border:solid;border-color:white;">

        <div class="row">
            <div class="col-md-12" style="text-align:center;">
                <h3>Sections</h3>
            </div>
        </div>
        <div class="row" ng-repeat="eachSection in session.sections" style="border-top:solid; border-color:white; padding-top:15px;">
            <div class="col-md-12" style="text-align:right;padding-bottom:15px;">
                <a class="uscRedButton" href="javascript:;" ng-click="session.sections.splice($index,1);" title="Delete this Section">[X] Remove this Section</a>
            </div>
            <!-- Section 1st column -->
            <div class="col-md-4">
                <div class="form-group" ng-class="{'has-error': sessionRequestForm.sectionNumber.$invalid && sessionRequestForm.$submitted}">
                    <label for="sectionNumber" class="col-md-6 control-label">
                        <abbr title="A 5-digit identifier.  Make sure the number you enter is within the range assigned to your department.">Section Number:</abbr>
                    </label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="sectionNumber" name="sectionNumber" maxlength="25" ng-model="eachSection.sectionNumber" />
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': sessionRequestForm.sectionTitle.$invalid && sessionRequestForm.$submitted}">
                    <label for="sectionTitle" class="col-md-6 control-label">
                        <abbr title="The title for the course that will print in the Schedule of Classes and on student transcripts.">Section Title:</abbr>
                    </label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="sectionTitle" name="sectionTitle" maxlength="25" ng-model="eachSection.title" />
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': sessionRequestForm.incomeAcctNumber.$invalid && sessionRequestForm.$submitted}">
                    <label for="incomeAcctNumber" class="col-md-6 control-label">
                        <abbr title="The account number to which enrollment in the class should be credited.">Income Account No.:</abbr>
                    </label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="incomeAcctNumber" name="incomeAcctNumber" maxlength="25" ng-model="eachSection.incomeAccountNumber" />
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': sessionRequestForm.addClassSched.$invalid && sessionRequestForm.$submitted}">
                    <label for="addClassSched" class="col-md-6 control-label">
                        &nbsp;
                    </label>
                    <div class="col-md-6">
                        <abbr title="Click here to add a day, begin, and end times for the class.">
                            <kendo-button id="addClassSched" name="addClassSched" class="uscRedButton" ng-click="AddSchedule(eachSection);">
                                Add a Schedule
                            </kendo-button>
                        </abbr>
                    </div>
                </div>
            </div>

            <!-- Section 2nd column -->
            <div class="col-md-4">
                <div class="form-group" ng-class="{'has-error': sessionRequestForm.deptAbbrev.$invalid && sessionRequestForm.$submitted}">
                    <label for="deptAbbrev" class="col-md-6 control-label">
                        <abbr title="The department's abbreviation (e.g. BUAD, AME, SPAN, etc.)'">Prefix:</abbr>
                    </label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="deptAbbrev" name="deptAbbrev" maxlength="25" ng-model="eachSection.prefix" />
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': sessionRequestForm.unitValue.$invalid && sessionRequestForm.$submitted}">
                    <label for="unitValue" class="col-md-6 control-label">
                        <abbr title="Number of units assigned to the course. The units entered should be the maximum units that most students are expected to earn (note that they may earn fewer units if they take less than a full load).">
                            Unit value:
                        </abbr>
                    </label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="unitValue" name="unitValue" maxlength="25" ng-model="eachSection.unitValue" />
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': sessionRequestForm.enrollEstimate.$invalid && sessionRequestForm.$submitted}">
                    <label for="enrollEstimate" class="col-md-6 control-label">
                        <abbr title="Capacity of the course. This may not exceed the capacity of the room in which the class will be scheduled.">
                            Estimated Enrollment:
                        </abbr>
                    </label>
                    <div class="col-md-6">
                        <input type="number" class="form-control" id="enrollEstimate" name="enrollEstimate" value="0" min="0" max="999" maxlength="3" ng-model="eachSection.estimatedEnrollment" />
                    </div>
                </div>
            </div>

            <!-- Section 3rd column -->
            <div class="col-md-4">
                <div class="form-group" ng-class="{'has-error': sessionRequestForm.courseNumber.$invalid && sessionRequestForm.$submitted}">
                    <label for="courseNumber" class="col-md-6 control-label">
                        <abbr title="A 3-digit code of the course being offered. This number, combined with the Prefix, gives a complete designation for the course, such as BUAD-494.">Course Number:</abbr>
                    </label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="courseNumber" name="courseNumber" maxlength="25" ng-model="eachSection.courseNumber" />
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': sessionRequestForm.instructorName.$invalid && sessionRequestForm.$submitted}">
                    <label for="instructorName" class="col-md-6 control-label">
                        <abbr title="Name of the instructor who will be teaching the course. The instructor’s name should be entered in the following order: Last name, First name">
                            Instructor Name:
                        </abbr>
                    </label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="instructorName" name="instructorName" maxlength="25" ng-model="eachSection.instructorName" />
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': sessionRequestForm.sectionComment.$invalid && sessionRequestForm.$submitted}">
                    <label for="sectionComment" class="col-md-6 control-label">
                        <abbr title="In this space, enter up to a 60-character comment specific to the section (list 3 descriptors: 1. the country and 2. university name where the course will take place, and 3. the USC school offering the program).">
                            Section<br>Comments:
                        </abbr>
                    </label>
                    <div class="col-md-6">
                        <textarea type="text" class="form-control" id="sectionComment" name="sectionComment" maxlength="60" ng-model="eachSection.comments" />
                    </div>
                </div>
            </div>

            <div class="col-md-12" ng-repeat="eachSched in eachSection.schedules">
                <div class="col-md-3">
                    <div class="form-group" ng-class="{'has-error': sessionRequestForm.classDay.$invalid && sessionRequestForm.$submitted}">
                        <label for="classDay" class="col-md-4 control-label">
                            Class Day
                        </label>
                        <div class="col-md-8">
                            <select class="form-control" id="classDay" name="classDay" maxlength="25" ng-model="eachSched.classDayOfWeek">
                                <option value="" disabled >Select a day</option>
                                <option value="Sun">Sunday</option>
                                <option value="Mon">Monday</option>
                                <option value="Tue">Tuesday</option>
                                <option value="Wed">Wednesday</option>
                                <option value="Thu">Thursday</option>
                                <option value="Fri">Friday</option>
                                <option value="Sat">Saturday</option>
                                <option value="TBD">To be determined</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group" ng-class="{'has-error': sessionRequestForm.classStart.$invalid && sessionRequestForm.$submitted}">
                        <label for="classStart" class="col-md-6 control-label">
                            Class Start
                        </label>
                        <div class="col-md-6">
                            <input kendo-time-picker class="form-control" id="classStart" name="classStart" maxlength="25" ng-model="eachSched.classStartTime" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group" ng-class="{'has-error': sessionRequestForm.classEnd.$invalid && sessionRequestForm.$submitted}">
                        <label for="classEnd" class="col-md-6 control-label">
                            Class End
                        </label>
                        <div class="col-md-6">
                            <input kendo-time-picker class="form-control" id="classEnd" name="classEnd" maxlength="25" ng-model="eachSched.classEndTime" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <a class="uscRedButton" href="javascript:;" ng-click="eachSection.schedules.splice($index,1);" title="Delete this Schedule">
                        [ X ] Remove this Schedule
                    </a>
                </div>
            </div>
        </div>

    </div>
        
    <!--  End of Section section -->
    <br>
    <div class="row" style="align-content:center;">
        <div class="col-md-5">
        </div>
        <div class="col-md-2">
            <input type="submit" class="form-control uscRedButton" ng-click="SubmitForm();" value="Submit" />
        </div>
        <div class="col-md-5">
        </div>
    </div>
    <input type="hidden" ng-model="session.firstDayForFinalGrading" value=""/>
    <input type="hidden" ng-model="session.lastDayForFinalGrading" value="" />
</form>
