
<form id="sessionRequestForm" name="sessionRequestForm" class="form-horizontal" novalidate ng-submit="submit()">

    <div class="row">

        <!-- 1st Column -->
        <div class="col-lg-4" id="firstColumn">
            <div class="form-group" ng-class="{'has-error': sessionRequestForm.semester.$invalid && sessionRequestForm.$submitted}">
                <label for="semester" class="col-lg-6 control-label">
                    <abbr title="Session semester being applied for">Semester:</abbr>
                </label>
                <div class="col-lg-6">
                    <input type="text" class="form-control" id="semester" name="semester" maxlength="20" required ng-model="session.semester" style="width: 100%" />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': sessionRequestForm.classesStartDate.$invalid && sessionRequestForm.$submitted}">
                <label for="classesStartDate" class="col-lg-6 control-label">
                    <abbr title="Session Start Date">First day of Classes:</abbr>
                </label>
                <div class="col-lg-6">
                    <input type="text" class="form-control" id="classesStartDate" name="classesStartDate" maxlength="20" required ng-model="session.classesStartDate" />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': sessionRequestForm.finalsStartDate.$invalid && sessionRequestForm.$submitted}">
                <label for="finalsStartDate" class="col-lg-6 control-label">
                    <abbr title="Finals Starting Period Date">First day of Finals:</abbr>
                </label>
                <div class="col-lg-6">
                    <input type="text" class="form-control" id="finalsStartDate" name="finalsStartDate" maxlength="20" required ng-model="session.finalsStartDate" />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': sessionRequestForm.lastDayWithdraw.$invalid && sessionRequestForm.$submitted}">
                <label for="lastDayWithdraw" class="col-lg-6 control-label">
                    <abbr title="Last day to Withdraw classes">Last day to Withdraw:</abbr>
                </label>
                <div class="col-lg-6">
                    <input type="text" class="form-control disabled" id="lastDayWithdraw" name="lastDayWithdraw" maxlength="20" required ng-model="session.lastDayWithdraw" />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': sessionRequestForm.isClassHeldAtUPC.$invalid && sessionRequestForm.$submitted}">
                <label for="isClassHeldAtUPC" class="col-lg-6 control-label">
                    <abbr title="Is the venue of the class going to be within the University Park Campus?">Class held at UPC?</abbr>
                </label>
                <div class="col-lg-6">
                    <label class="radio-inline">
                        <input type="radio" name="isClassHeldAtUPC" value="Y" ng-model="session.isClassHeldAtUPC">Yes
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="isClassHeldAtUPC" value="N" ng-model="session.isClassHeldAtUPC" />No
                    </label>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': sessionRequestForm.rateType.$invalid && sessionRequestForm.$submitted}">
                <label for="rateType" class="col-lg-6 control-label">
                    <abbr title="Indicate the appropriate tuition rate type for this Session">Tuition Rate Type:</abbr>
                </label>
                <div class="col-lg-6">
                    <input type="text" class="form-control disabled" id="rateType" name="rateType" maxlength="20" required ng-model="session.rateType" />
                </div>
            </div>
        </div>

        <!--  2nd Column-->
        <div class="col-lg-4" id="secondColumn">
            <div class="form-group" ng-class="{'has-error': sessionRequestForm.sessionCode.$invalid && sessionRequestForm.$submitted}">
                <label for="sessionCode" class="col-lg-6 control-label">
                    <abbr title="3-digit Session code">Session Code:</abbr>
                </label>
                <div class="col-lg-6">
                    <input type="text" class="form-control" id="sessionCode" name="sessionCode" maxlength="20" required ng-model="session.sessionCode" />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': sessionRequestForm.classesEndDate.$invalid && sessionRequestForm.$submitted}">
                <label for="classesEndDate" class="col-lg-6 control-label">
                    <abbr title="Session End Date">Last day of Classes:</abbr>
                </label>
                <div class="col-lg-6">
                    <input type="text" class="form-control" id="classesEndDate" name="classesEndDate" maxlength="20" required ng-model="session.classesEndDate" />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': sessionRequestForm.finalsEndDate.$invalid && sessionRequestForm.$submitted}">
                <label for="finalsEndDate" class="col-lg-6 control-label">
                    <abbr title="Finals Ending Period Date">Last day of Finals:</abbr>
                </label>
                <div class="col-lg-6">
                    <input type="text" class="form-control" id="finalsEndDate" name="finalsEndDate" maxlength="20" required ng-model="session.finalsEndDate" />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': sessionRequestForm.gradingPeriodStartDate.$invalid && sessionRequestForm.$submitted}">
                <label for="gradingPeriodStartDate" class="col-lg-6 control-label">
                    <abbr title="Last Day to give Final Grades">Finals Grading Period Start:</abbr>
                </label>
                <div class="col-lg-6">
                    <input type="text" class="form-control disabled" id="gradingPeriodStartDate" name="gradingPeriodStartDate" maxlength="20" required ng-model="session.gradingPeriodStartDate"/>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': sessionRequestForm.offCampusLocation.$invalid && sessionRequestForm.$submitted}">
                <label for="offCampusLocation" class="col-lg-6 control-label">
                    <abbr title="USC Campus outside of UPC where class will be held">Off-campus Location:</abbr>
                </label>
                <div class="col-lg-6">
                    <input type="text" class="form-control" id="offCampusLocation" name="offCampusLocation" maxlength="25" required ng-model="session.offCampusLocation" />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': sessionRequestForm.tuitionPerUnit.$invalid && sessionRequestForm.$submitted}">
                <label for="tuitionPerUnit" class="col-lg-6 control-label">
                    <abbr title="Tuition per unit rate in dollars">Tuition per Unit:</abbr>
                </label>
                <div class="col-lg-6">
                    <input type="text" class="form-control" id="tuitionPerUnit" name="tuitionPerUnit" maxlength="25" required ng-model="session.tuitionPerUnit" />
                </div>
            </div>
        </div>

        <!-- 3rd Column -->

        <div class="col-lg-4" id="thirdColumn">
            <div class="form-group" ng-class="{'has-error': sessionRequestForm.accountNo.$invalid && sessionRequestForm.$submitted}">
                <label for="accountNo" class="col-lg-6 control-label">
                    <abbr title="10-digit Account Number">Income Account No.</abbr>:
                </label>
                <div class="col-lg-6">
                    <input type="text" class="form-control" id="accountNo" name="accountNo" maxlength="20" required ng-model="session.accountNo" />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': sessionRequestForm.lastDayAddDrop.$invalid && sessionRequestForm.$submitted}">
                <label for="lastDayAddDrop" class="col-lg-6 control-label">
                    <abbr title="Last day to Add or Drop classes">Last day to Add/Drop:</abbr>
                </label>
                <div class="col-lg-6">
                    <input type="text" class="form-control disabled" id="lastDayAddDrop" name="lastDayAddDrop" maxlength="20" required ng-model="session.lastDayAddDrop" />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': sessionRequestForm.lastDayEnrollOptionChange.$invalid && sessionRequestForm.$submitted}">
                <label for="lastDayEnrollOptionChange" class="col-lg-6 control-label">
                    <abbr title="Last day to change Enrollment Option from 'PN' to 'L'">Last day to change Enrollment Options:</abbr>
                </label>
                <div class="col-lg-6">
                    <input type="text" class="form-control disabled" id="lastDayEnrollOptionChange" name="lastDayEnrollOptionChange" maxlength="20" required ng-model="session.lastDayEnrollOptionChange" />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': sessionRequestForm.gradingPeriodEndDate.$invalid && sessionRequestForm.$submitted}">
                <label for="gradingPeriodStartDate" class="col-lg-6 control-label">
                    <abbr title="Last Day to give Final Grades">Finals Grading Period End:</abbr>
                </label>
                <div class="col-lg-6">
                    <input type="text" class="form-control disabled" id="gradingPeriodStartDate" name="gradingPeriodEndDate" maxlength="20" required ng-model="session.gradingPeriodEndDate" />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': sessionRequestForm.otherCampusLocation.$invalid && sessionRequestForm.$submitted}">
                <label for="otherCampusLocation" class="col-lg-6 control-label">
                    <abbr title="Indicate a campus other than the ones listed in the dropdown">Campus location:</abbr>
                </label>
                <div class="col-lg-6">
                    <input type="text" class="form-control" id="otherCampusLocation" name="otherCampusLocation" maxlength="20" required ng-model="session.otherCampusLocation" />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': sessionRequestForm.tuitionFlatRate.$invalid && sessionRequestForm.$submitted}">
                <label for="tuitionFlatRate" class="col-lg-6 control-label">
                    <abbr title="Tuition flat rate in dollars">Tuition Flat Rate:</abbr>
                </label>
                <div class="col-lg-6">
                    <input type="text" class="form-control" id="tuitionFlatRate" name="tuitionFlatRate" maxlength="25" required ng-model="session.tuitionFlatRate" />
                </div>
            </div>
        </div>

    </div> <!-- class="row" -->
</form>
