<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body ng-controller="sessionReviewCtrl">

    <kendo-grid options="mainGridOptions" k-rebind="mainGridOptions">
        <div k-detail-template>
            <kendo-tabstrip>
                <ul>
                    <li class="k-state-active">Details</li>
                    <li>Dates</li>
                    <li>Sections</li>
                    <li>Session Breaks</li>
                    <li>Status</li>
                </ul>
                <div id="detailTab">
                    <div class="row" style="padding-top:10px;">
                        <div class="col-md-3">
                            <div class="col-sm-3">
                                <b class="red">Contact:</b>
                            </div>
                            <div class="col-sm-6">
                                #= data.userContact #
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="col-sm-3">
                                <b class="red">Email:</b>
                            </div>
                            <div class="col-sm-6">
                                #= data.userEmail #
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-sm-3">
                                <b class="red">Phone:</b>
                            </div>
                            <div class="col-sm-6">
                                #= data.userPhone #
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top:10px;">
                        <div class="col-sm-3">
                            <b class="red">Classes held on campus?</b>&nbsp;&nbsp;#= data.isClassHeldAtUPC ? 'Yes' : 'No' #
                        </div>
                        <div class="col-sm-3">
                            <b class="red">Campus Location</b>&nbsp;&nbsp;#= data.uscCampusLocation #
                        </div>
                        <div class="col-sm-4">
                            <b class="red">Other Campus:</b>&nbsp;&nbsp;#= data.otherCampusLocation #
                        </div>
                    </div>
                    <br/>
                    <table class="table table-bordered table-hover">
                    <thead>
                        <tr class="red">
                            <th>Rate Type</th>
                            <th>Rate per Unit</th>
                            <th>Flat Rate</th>
                            <th>Flat Rate Min. Units</th>
                            <th>Flat Rate Max. Units</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="black">
                            <td>#= data.rateType #</td>
                            <td>#= data.ratePerUnitAmount #</td>
                            <td>#= data.flatRateAmount #</td>
                            <td>#= data.flatRateUnitsMin #</td>
                            <td>#= data.flatRateUnitsMax #</td>
                        </tr>
                    <tbody>
                    </table>
                </div>
                <div id="datesTab">

                    <div class="row" style="padding-top:10px;">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th width="15%"></th>
                                <td width="25%" class="red" align="center"><b>To Add/Drop</b></td>
                                <td width="25%" class="red" align="center"><b>To Withdraw</b></td>
                                <td width="30%" class="red" align="center"><b>Change Enrollment Option</b></td>
                            </tr>
                            <tr>
                                <td class="red" align="center">Deadline Dates</td>
                                <td align="center">#= data.lastDayForAddDrop #</td>
                                <td align="center">#= data.lastDayForWithdrawal #</td>
                                <td align="center">#= data.lastDayForEnrollmentOptionChange #</td>
                            </tr>
                        </table>
                    </div>
                    <div class="row" style="padding-top:10px;">
                            <table class="table table-bordered table-hover">
                                <tr class="red">
                                    <th width="15%"></th>
                                    <td width="25%" class="red" align="center"><b>Classes</b></td>
                                    <td width="25%" class="red" align="center"><b>Finals</b></td>
                                    <td width="30%" class="red" align="center"><b>Final Grading</b></td>
                                </tr>
                                <tr>
                                    <td class="red" align="center">Start</td>
                                    <td align="center">#= data.firstDayOfClass #</td>
                                    <td align="center">#= data.firstDayOfFinals #</td>
                                    <td align="center">#= data.firstDayForFinalGrading #</td>
                                </tr>
                                <tr>
                                    <td class="red" align="center">End</td>
                                    <td align="center">#= data.lastDayOfClass #</td>
                                    <td align="center">#= data.lastDayOfFinals #</td>
                                    <td align="center">#= data.lastDayForFinalGrading #</td>
                                </tr>
                            </table>
                    </div>
                </div>
                <div id="sectionsTab">
                    <kendo-grid k-options="sectionGridOptions(dataItem)">
                        <div k-detail-template>
                            <kendo-grid k-options="scheduleGridOptions(dataItem)"></kendo-grid>
                        </div>
                    </kendo-grid>
                </div>
                <div id="sessionBreakTab">
                    <kendo-grid k-options="sessionBrkGridOptions(dataItem)"></kendo-grid>
                </div>
                <div id="statusTab">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th></th>
                            <th>Approved</th>
                            <th>Date Approved</th>
                            <th>Rejection Email</th>
                            <th>Reject Reason</th>
                        </tr>
                        <tr>
                            <th>FAO</th>
                            <td>#= data.isApprovedByFAO ? 'Yes' : 'No' #</td>
                            <td>#= data.dateApprovedFAO #</td>
                            <td>#= data.dateSentRejectEmailFAO #</td>
                            <td>#= data.rejectReasonFAO #</td>
                        </tr>
                        <tr>
                            <th>RNR</th>
                            <td>#= data.isApprovedByRNR ? 'Yes' : 'No' #</td>
                            <td>#= data.dateApprovedRNR #</td>
                            <td>#= data.dateSentRejectEmailRNR #</td>
                            <td>#= data.rejectReasonRNR #</td>
                            
                        </tr>
                    </table>
                </div>
            </kendo-tabstrip>
        </div>
    </kendo-grid>
   

    <div kendo-dialog="dialog" k-title="'Rejection Reason'" k-width="250" k-height="150" k-visible='false' k-actions="actions" k-modal="false">
        <p><textarea></textarea><p>
    </div>
    
    <div kendo-dialog="approveDialog" k-width="250" k-height="150" k-visible='false' k-modal="false">
        Approved!
    </div>
</body>
</html>
