
@{
    ViewBag.Title = "Non-standard Session Request";
    ViewBag.ShibCollege = "Viterbi School of Engineering";
    ViewBag.ShibUserName = "Prof. Darth Vader, PhD";
    ViewBag.ShibDepartment = "Computer Engineering Department";
    ViewBag.ShibPhoneNo = "(213) 851-4466";
    ViewBag.ShibEmailAddr = "dark.side@usc.edu";
}

<div ng-app="sessionModule" ng-controller="indexCtrl">
    <div ng-view></div>
    <span kendo-notification="winNotification" k-options="notifyOptions"></span>
</div>

