
@{
    ViewBag.Title = "Session Request Form";
}

<div ng-app="sessionModule" ng-controller="indexCtrl">
    <div ng-view></div>
    <span kendo-notification="winNotification" k-options="notifyOptions"></span>
</div>

